@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>My Games and Consoles Application</h1>

    <p>This application was built using ASP.NET MVC.</p>
    <p>This application connects to a SQL Database to supply data.</p>
</main>